In [1]:
# Import necessary libraries
import pandas as pd

In [4]:
# Read in .csv created in Deliverable 1 with appropriate column names
df = pd.read_csv('data/vine_table.csv', names=["review_id","star_rating","helpful_votes","total_votes","vine","verified_purchase"])
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2MTG1GCZLR2DK,5.0,0.0,0.0,N,Y
1,R2HBOEM8LE9928,5.0,0.0,0.0,N,Y
2,R1P4RW1R9FDPEE,5.0,1.0,1.0,N,Y
3,R1EBPM82ENI67M,1.0,0.0,0.0,N,Y
4,R372S58V6D11AT,5.0,1.0,1.0,N,Y

In [5]:
# See how many entries there are initially
df.count()

review_id            3093869
star_rating          3093861
helpful_votes        3093861
total_votes          3093861
vine                 3093861
verified_purchase    3093861
dtype: int64

In [10]:
# Filter the dataframe to retrieve rows where the total votes are greater than or equal to 20
total_votes_gt_20_df = df.loc[df["total_votes"]>=20]
total_votes_gt_20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y

In [11]:
# See how many entries there are after filtering
total_votes_gt_20_df.count()

review_id            58554
star_rating          58554
helpful_votes        58554
total_votes          58554
vine                 58554
verified_purchase    58554
dtype: int64

In [14]:
# Filter the dataframe to retrieve rows where the helpful_votes as a percentage
# of total_votes is greater than or equal to 50%
helpful_votes_gt_50_df = total_votes_gt_20_df.loc[(total_votes_gt_20_df["helpful_votes"]\
                                                   /total_votes_gt_20_df["total_votes"])>=0.5]
helpful_votes_gt_50_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y

In [15]:
# See how many entries there are after filtering
helpful_votes_gt_50_df.count()

review_id            50753
star_rating          50753
helpful_votes        50753
total_votes          50753
vine                 50753
verified_purchase    50753
dtype: int64

In [17]:
# Filter the dataframe to retrieve rows that are part of the Vine program
vines_df = helpful_votes_gt_50_df.loc[helpful_votes_gt_50_df["vine"] == "Y"]
vines_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1932,R184FOUNZZ7KO8,5.0,15.0,20.0,Y,N
4661,R82QWN2X2OCHB,5.0,176.0,208.0,Y,N
11745,R1UYHBYE6790BU,5.0,44.0,53.0,Y,N
17013,R2J3YLX1L4EH2B,5.0,299.0,321.0,Y,N
28097,R3QDI539WTXKE2,5.0,26.0,32.0,Y,N

In [18]:
# See how many entries there are after filtering
vines_df.count()

review_id            1080
star_rating          1080
helpful_votes        1080
total_votes          1080
vine                 1080
verified_purchase    1080
dtype: int64

In [19]:
# Filter the dataframe to retrieve rows that are NOT part of the Vine program
not_vines_df = helpful_votes_gt_50_df.loc[helpful_votes_gt_50_df["vine"] == "N"]
not_vines_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y

In [20]:
# See how many entries there are after filtering
not_vines_df.count()

review_id            49673
star_rating          49673
helpful_votes        49673
total_votes          49673
vine                 49673
verified_purchase    49673
dtype: int64

In [41]:
# Determine the total number of reviews, the number of 5-star reviews,
# and the percentage of 5-star reviews for the two types of review (paid vs unpaid)
total_paid = vines_df["total_votes"].count()
five_star_paid = vines_df["total_votes"].loc[vines_df["star_rating"]==5].count()
pct_five_star_paid = round(five_star_paid / total_paid * 100, 1)

total_unpaid = not_vines_df["total_votes"].count()
five_star_unpaid = not_vines_df["total_votes"].loc[not_vines_df["star_rating"]==5].count()
pct_five_star_unpaid = round(five_star_unpaid / total_unpaid * 100, 1)

In [54]:
# Print out the results

print(f"Vine (paid) users accounted for {total_paid:,} reviews, of which {pct_five_star_paid}% \
({five_star_paid:,}) were 5 stars.")
print(f"Non-Vine (unpaid) users accounted for {total_unpaid:,} reviews, of which \
{pct_five_star_unpaid}% ({five_star_unpaid:,}) were 5 stars.")

Vine (paid) users accounted for 1,080 reviews, of which 42.0% (454) were 5 stars.
Non-Vine (unpaid) users accounted for 49,673 reviews, of which 46.4% (23,043) were 5 stars.